* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.hide {
  display: none;
}

.link {
  display: block;
  color: #ffffff;
  text-decoration: none;
}

.w-auth_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/img/chuttersnap-9cCeS9Sg6nU-unsplash.jpg");
  border-image-repeat: no-repeat;
  background-size: cover;
}

.auth_container {
  border: 4px solid #ffae5d;
  padding: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;
  border-radius: 1.5rem;
  background-color: #fff;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth_inputs {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 85%;
}

.auth_input {
  display: block;
  border: 1px solid #4d4d4d;
  padding: 0.3rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  width: 100%;
  box-sizing: border-box;
}

.auth_radios,
.auth_input {
  margin-top: 0.25rem;
}

.btn {
  border: none;
  border-radius: 5px;
  background-color: #4d4d4d;
  color: #ffffff;
  cursor: pointer;
  padding: 0.25rem 1rem 0.25rem 1rem;
}

.btn p,
.btn a {
  padding: 0.4rem;
}

.btn:hover {
  color: #ffae5d;
}

.btn:hover a {
  color: #ffae5d;
}

.auth_text {
  font-size: 1.15rem;
}

.auth_error,
.auth_success {
  font-weight: 700;
}

.auth_error {
  color: #ea1c1c;
}

.auth_success {
  color: #12b625;
}

.auth_forgot {
  font-size: 1rem;
}

.section_singout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.auth_signout_label {
  font-size: 1.5rem;
}
